.footer {
  width: 100%;
  height: fit-content;
  background-color: rgb(17, 17, 17);
  overflow: hidden;
}

.footerContent {
  display: flex;
  width: 100%;
}

.mediaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.mediaSection h2 {
  width: fit-content;
  color: white;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 36px;
  cursor: default;
}

.mediaIconsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mediaIconsContainer span {
  color: rgb(35, 35, 35);
  font-size: 75px;
  font-weight: lighter;
  cursor: default;
}

.githubIcons {
  color: rgb(80, 80, 80);
  font-size: 35px;
  margin-top: 12px;
}

.codepenIcons {
  color: rgb(80, 80, 80);
  font-size: 35px;
  margin-top: 12px;
}

.instagramIcons {
  color: rgb(80, 80, 80);
  font-size: 35px;
  margin-top: 12px;
}

.freeCodeCampIcons {
  color: rgb(80, 80, 80);
  font-size: 35px;
  margin-top: 12px;
}

.gmailIcons {
  color: rgb(80, 80, 80);
  font-size: 35px;
  margin-top: 12px;
}

.codewarsIcon {
  color: rgb(80, 80, 80);
  font-size: 35px;
  border-radius: 8px;
  margin-top: 12px;
}

.githubIcons:hover {
  color: rgb(102, 134, 194);
}

.codepenIcons:hover {
  color: rgb(118, 98, 136);
}

.instagramIcons:hover {
  color: rgb(197, 92, 171);
}

.freeCodeCampIcons:hover {
  color: rgb(165, 103, 62);
}

.gmailIcons:hover {
  color: rgb(231, 43, 43);
}

.codewarsIcon:hover {
  color: rgb(177, 62, 54);
}

.infoSection {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-top: 20px;
  cursor: default;
}

.infoContainers h2 {
  text-align: center;
  width: fit-content;
  font-weight: normal;
  color: white;
  font-family: Helvetica;
  border-top: solid 2px;
}

.infoContainers ul {
  list-style: none;
  padding-left: 0;
  color: rgb(100, 100, 100);
  font-family: Helvetica;
}

.infoContainers li {
  margin-bottom: 5px;
}

.copyrightContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  color: rgb(35, 35, 35);
  font-family: Helvetica;
  font-size: 12px;
  margin-left: 20px;
  cursor: default;
}
