.goalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgb(17, 17, 17);
}

.header {
  color: white;
  font-size: 48px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: 50px 0;
}

.goalContainer p {
  color: white;
  width: 500px;
  font-size: 28px;
  padding: 0 20px;
}

.goalsRight {
  display: flex;
  justify-content: flex-end;
}

.goalsLeft {
  display: flex;
}

.goalContainer h3 {
  color: #a2e086;
  font-size: 42px;
  padding: 0 20px;
}

.illustrations {
  width: 400px;
  height: 400px;
}
