@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.goalSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgb(17, 17, 17);
  font-family: "Roboto";
}

.header {
  color: white;
  font-size: 42px;
}

.goalContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px 0;
}

.goalContainer p {
  color: white;
  padding: 20px 40px;
  width: 500px;
}

.goalsRight {
  display: flex;
  justify-content: flex-end;
}

.goalsLeft {
  display: flex;
}

.goalContainer h3 {
  text-align: center;
  color: white;
}

.illustrations {
  width: 400px;
  height: 400px;
}
