.backgroundImg {
  background-size: cover;
  background-position: center;
  background-image: url(../../src/public/manLookingAtMountain.jpeg);
}

.backgroundOverlay {
  background: linear-gradient(
    135deg,
    rgba(17, 17, 17, 0.95) 40%,
    rgba(17, 17, 17, 0.9) 50%,
    rgba(17, 17, 17, 0.75) 65%,
    rgba(17, 17, 17, 0.5) 90%,
    transparent
  );
  height: fit-content;
  padding: 80px 0 100px 120px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 156px;
  font-family: var(--raleway);
  color: white;
  font-weight: normal;
  margin-bottom: 60px;
}

.headerSpan1:before {
  content: "";
  display: flex;
  border-top: solid 42px var(--green);
  width: 200px;
  margin-bottom: -10px;
}

.headerSpan2 {
  border-bottom: solid 6px var(--green);
}

.headerSpan3 {
  color: var(--green);
}

.homeContainer p {
  width: 850px;
  line-height: 40px;
  font-size: 24px;
  font-family: var(--raleway);
  color: rgb(225, 225, 225);
  margin-bottom: 70px;
  margin-top: 0;
}

.buttonContainer {
  display: flex;
}

.callToActionButtons {
  text-align: center;
  width: 250px;
  padding: 10px 0;
  background: transparent;
  border: solid 1px var(--green);
  font-size: 24px;
  font-family: var(--raleway);
  color: #a9dc97;
  margin-right: 16px;
  transition: 0.8s;
}

.callToActionButtons:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.8s;
}
