@import url("https://fonts.googleapis.com/css?family=Oleo+Script");

.homeContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  font-family: Helvetica;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
}

.header {
  font-size: 102px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.header span {
  font-family: "Oleo Script";
  font-weight: normal;
  letter-spacing: 2px;
  color: #a2e086;
}

.headerContainer h2 {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-top: 10px;
}

.backgroundTriangle {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -25%;
  top: -36%;
  transform: rotate(-35deg);
  background-color: rgba(17, 17, 17, 0.7);
  z-index: -1;
}

.img {
  display: flex;
}

.img img {
  z-index: -2;
  filter: brightness(55%);
  opacity: 0.9;
}

@media (min-width: 1600px) {
  .header {
    font-size: 128px;
  }
  .headerContainer h2 {
    font-size: 46px;
  }
  .backgroundTriangle {
    top: -30%;
  }
}
