@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lora:ital,wght@1,700&family=Six+Caps&family=Source+Sans+Pro&display=swap");

.homeContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
}

.header {
  font-size: 124px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
  letter-spacing: 10px;
  font-weight: normal;
  font-family: "Six Caps", sans-serif;
}

.headerContainer h2 {
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-top: 10px;
}

.backgroundTriangle {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -25%;
  top: -36%;
  transform: rotate(-35deg);
  background-color: rgba(17, 17, 17, 0.7);
  z-index: -1;
}

.img {
  display: flex;
}

.img img {
  z-index: -2;
  filter: brightness(55%);
  opacity: 0.9;
}
