.background {
  display: flex;
  justify-content: center;
  background-color: rgb(225, 225, 225);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(11, 100px);
  padding-bottom: 40px;
}

.leftCard {
  grid-column: 1/11;
  display: flex;
  width: 1000px;
  height: 500px;
  margin-top: -10px;
  padding-left: 40px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.leftIllustration {
  align-self: center;
  width: 500px;
  height: 300px;
}

.leftCardText {
  align-self: center;
  width: 300px;
  margin-left: 20px;
}

.leftCardNumber {
  margin: 20px 20px auto auto;
  font-size: 64px;
  font-weight: bold;
  color: var(--green);
}

.rightCard {
  grid-column: 2/12;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 500px;
  margin-top: -10px;
  padding: 40px;
  background-color: white;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
}

.rightIllustration {
  width: 500px;
  height: 300px;
}
