.backgroundImg {
  background-size: cover;
  background-position: center;
  background-image: url(../src/public/jungleBridge.jpg);
}

.backgroundOverlay {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    135deg,
    rgba(17, 17, 17, 0.95) 45%,
    rgba(17, 17, 17, 0.35) 75%,
    rgba(17, 17, 17, 0.95) 95%
  );
}

.contactContianer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  height: 100vh;
  padding-top: 50px;
  color: white;
  font-family: var(--raleway);
}

.headers {
  grid-column: 1;
  cursor: default;
}

.headers h1 {
  font-size: 96px;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 4px;
}

.headers h1:before {
  content: "";
  display: flex;
  border-top: solid 24px var(--green);
  width: 150px;
  margin-bottom: -10px;
}

.headers h2 {
  font-size: 36px;
  font-weight: normal;
}

.inputs {
  grid-column: 1;
  font-size: 24px;
}

.messageAndSubmit {
  display: flex;
  flex-direction: column;
}

.messageLabel {
  font-size: 24px;
}

.messageArea {
  display: block;
  width: 500px;
  height: 228px;
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
  margin-bottom: 78px;
  margin-top: 4px;
  outline: none;
  font-size: 20px;
  padding: 10px;
  font-family: var(--roboto);
  resize: none;
}

.submitButton {
  width: 300px;
  height: 75px;
  background: transparent;
  border: solid 2px var(--green);
  border-radius: 2px;
  color: var(--green);
  font-family: var(--raleway);
  font-size: 36px;
  cursor: pointer;
  transition: 0.8s;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.8s;
}
