.container {
  display: flex;
  justify-content: center;
  background-size: cover;
  background: linear-gradient(rgb(30, 30, 30), rgb(100, 100, 100));
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 100px 0 50px 0;
}

.header {
  justify-self: center;
  grid-column: 1/3;
  font-size: 102px;
  font-family: var(--raleway);
  font-weight: normal;
  color: white;
  letter-spacing: 4px;
}

.learnMore:after {
  content: "";
  display: flex;
  border-bottom: solid 5px;
  width: 30px;
  color: var(--green);
  transition: 0.5s;
}

.learnMore:hover:after {
  content: "";
  border-bottom: solid 2px;
  width: 100%;
  color: var(--green);
  transition: 0.5s;
}

.location:after {
  content: "";
  display: flex;
  border-bottom: solid 5px;
  width: 30px;
  color: var(--green);
  transition: 0.5s;
}

.location:hover:after {
  content: "";
  border-bottom: solid 2px;
  width: 100%;
  color: var(--green);
  transition: 0.5s;
}
