.input {
  display: block;
  width: 500px;
  height: 75px;
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
  margin-bottom: 45px;
  margin-top: 4px;
  outline: none;
  font-size: 20px;
  padding: 0 10px;
  font-family: var(--roboto);
}
