.input {
  display: block;
  width: 500px;
  height: 75px;
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 45px;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
}
