.input {
  display: block;
  width: 400px;
  height: 75px;
  background: transparent;
  color: white;
  border-bottom: solid 1px white;
  border-top: none;
  border-right: none;
  border-left: none;
}
