@import url("https://fonts.googleapis.com/css?family=Oleo+Script");

.navbar {
  display: flex;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  height: 74px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.35));
}

.navbarHeader {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: normal;
  font-family: "Oleo Script";
}

.navbarLinks {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  font-size: 24px;
  text-transform: uppercase;
  font-family: Helvetica;
}

.sidebarContainer {
  display: flex;
  justify-content: flex-end;
}

.sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  color: white;
  z-index: 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  font-family: Helvetica;
}

.navText {
  list-style: none;
  font-size: 24px;
  transition: 0.5s;
}

.navText:hover {
  color: white;
  transition: 0.5s;
}

.navText:after {
  content: "";
  display: flex;
  transition: transform 0.5s ease;
  transform: scaleX(0);
  transform-origin: 100%;
  border-bottom: 2px solid white;
}

.navText:hover:after {
  transform-origin: 100%;
  transform: scaleX(1);
}

.navText span {
  margin-left: 10px;
}

@media (min-width: 1600px) {
  .sidebar ul {
    height: 600px;
  }
  .navbarLinks {
    width: 500px;
  }
}
