@import url("https://fonts.googleapis.com/css?family=Oleo+Script");
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.navbar {
  display: flex;
  z-index: 2;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #312f2f;
  color: #d0cfcf;
  padding-left: 26px;
  padding-right: 26px;
  height: 74px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.35));
}

.navbarHeader {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: normal;
  font-family: "Oleo Script";
}

.navbarLinks {
  display: flex;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  font-size: 24px;
  font-family: "Roboto";
  text-transform: uppercase;
}

.sidebarContainer {
  width: 100vw;
  border: solid orange;
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  background-color: green;
}
